[defaults]
inventory = machine-config/inventory/hosts.yml
roles_path = machine-config/roles
vault_password_file = secrets/.vault-pass
host_key_checking = True
interpreter_python = auto_silent
callback_result_format = yaml

[ssh_connection]
pipelining = True
